<div class="row" *ngIf="devices">
    <div class="col-md-12 col-lg-4">
        <app-device-child-view [device]="devices[0]"></app-device-child-view>
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-body">
                        <h5 class="card-title">Inference</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                        </h6>
                        <div class="card-text row">
                            <div class="col-8 text-right form-group">
                                <input type="text" style="text-align: right;" [class]="(newcat.dirty || newcat.touched) ? (newcat.invalid ? 'form-control form-control-line form-control-danger' : 'form-control form-control-line form-control-success-alt') : 'form-control form-control-line'"
                                    name="newcat" id="newcat" #newcat value="{{inferenceDecision.category}}">
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-success" (click)="setCategory(newcat.value)">
                                    <i class="mdi mdi-plus"></i> set</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-device-child-view [device]="devices[1]"></app-device-child-view>
    </div>
</div>
