<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{title}} Definition</h4>
                <h6 class="card-subtitle">Define your device blueprint here.</h6>
                <form class="fm-t-40">
                    <div class="form-group">
                        <label>{{title}} Name</label>
                        <input type="text" class="form-control form-control-line" name="typename" id="typename"
                            #typename="ngModel" [(ngModel)]="deviceBlueprint.name" required ngModel />
                        <!-- [readonly]="deviceBlueprint.custom === false" -->
                        <!-- [readonly]="this.typeId !== 'new'" -->
                        <div class="form-control-feedback">
                            <small>The common name of the device type.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label for="type" class="form-control-label">Type:</label>
                            <select class="custom-select col-12" name="type" id="type" #type="ngModel" [(ngModel)]="deviceBlueprint.type"
                                required ngModel>
                                <option ng-selected="deviceBlueprint.type === 'UNKNOWN'">UNKNOWN</option>
                                <option ng-selected="deviceBlueprint.type === 'SDK'">SDK</option>
                                <option ng-selected="deviceBlueprint.type === 'A:FreeRTOS'">A:FreeRTOS</option>
                                <option ng-selected="deviceBlueprint.type === 'GREENGRASS'">GREENGRASS</option>
                            </select>
                            <div class="form-control-feedback">
                                <small>IoT Type for which this device blueprint is destined.</small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="type" class="form-control-label">Compatibility:</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Device Types
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <!-- <div class="input-group-text"> -->
                                    <div class="dropdown-item" data-value="'all'">
                                        <div class="form-check" style="padding: 0px; margin-bottom: -4px;" (click)="toggleDeviceType($event, 'all')">
                                            <input type="checkbox" id="all" style="padding-left: 18px;" [checked]="inCompatibilityList('all')">
                                            <label class="form-check-label" for="all" style="padding-left: 25px;">all</label>
                                        </div>
                                    </div>
                                    <div class="dropdown-item" *ngFor="let deviceType of deviceTypeService.deviceTypes"
                                        data-value="deviceType.id">
                                        <div class="form-check" style="padding: 0px; margin-bottom: -4px;" (click)="toggleDeviceType($event, deviceType.id)">
                                            <input type="checkbox" id="deviceType.id" style="padding-left: 18px;"
                                                [checked]="inCompatibilityList(deviceType.id)">
                                            <label class="form-check-label" for="deviceType.id" style="padding-left: 25px; width: 100%;">{{deviceType.name}}</label>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="form-control-feedback">
                                <small>Which device types this device blueprint works on.</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="form-control-label">Custom DeviceType Mappings:</label>
                        <app-pretty-json name="deviceTypeMappings" [(ngModel)]="deviceBlueprint.deviceTypeMappings"
                            [rows]="10"></app-pretty-json>
                        <div class="form-control-feedback">
                            <small>JSON document to use for the custom device type mappings.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="form-control-label">Spec:</label>
                        <app-pretty-json name="spec" [(ngModel)]="deviceBlueprint.spec" [rows]="20"></app-pretty-json>
                        <div class="form-control-feedback">
                            <small>JSON document to use for the device blueprint.</small>
                        </div>
                    </div>
                    <!-- <div>
                        <label>Sample Message Payload</label>
                    </div>
                    <pre style="font-size: 14px;">{{getDataSample()}}</pre> -->
                    <div class="m-t-20 m-b-20">
                        <button type="button" class="btn btn-success-alt btn-rounded m-r-15" (click)="saveBlueprint()">Save</button>
                        <button type="button" class="btn btn-secondary btn-rounded m-r-15" (click)="cancel()">Cancel</button>
                        <button type="button" class="btn btn-danger btn-rounded" (click)="delete()">Delete</button>
                    </div>
                    <div *ngIf="hasError" class="alert alert-danger alert-rounded">
                        <i class="mdi mdi-exclamation"></i> {{errorMsg}}</div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
