<div [ngSwitch]="device.deviceBlueprintId" *ngIf="device && device.deviceBlueprintId">
    <app-3d-belt-serial-v1-0 *ngSwitchCase="'3d-belt-serial-v1.0'" [device]="device">
    </app-3d-belt-serial-v1-0>
    <app-gg-ml-lego-hats-v1-0 *ngSwitchCase="'gg-ml-lego-hats-v1.0'" [device]="device">
    </app-gg-ml-lego-hats-v1-0>
    <app-gg-ml-boxes-v1-0 *ngSwitchCase="'gg-ml-boxes-v1.0'" [device]="device">
    </app-gg-ml-boxes-v1-0>
    <app-image-capture-v1-0 *ngSwitchCase="'image-capture-v1.0'" [device]="device">
    </app-image-capture-v1-0>
    <app-gg-ml-demo-squeezenet-v1-0 *ngSwitchCase="'gg-ml-demo-squeezenet-v1.0'" [device]="device">
    </app-gg-ml-demo-squeezenet-v1-0>
    <app-model-trainer-v1-0 *ngSwitchCase="'model-trainer-v1.0'" [device]="device">
    </app-model-trainer-v1-0>
    <app-rpi3-sense-hat-demo-v1-0 *ngSwitchCase="'rpi3-sense-hat-demo-v1.0'" [device]="device">
    </app-rpi3-sense-hat-demo-v1-0>
    <app-murata-vibration-sensor-gateway-v1-0 *ngSwitchCase="'murata-vibration-sensor-gateway-v1.0'" [device]="device">
    </app-murata-vibration-sensor-gateway-v1-0>
    <app-murata-vibration-sensor-node-v1-0 *ngSwitchCase="'murata-vibration-sensor-node-v1.0'" [device]="device">
    </app-murata-vibration-sensor-node-v1-0>
    <!-- <app-esp32-led-breakout-v1-0 *ngSwitchCase="'esp32-led-breakout-v1.0'" [device]="device">
    </app-esp32-led-breakout-v1-0> -->
    <app-default *ngSwitchDefault [device]="device"></app-default>
</div>
