<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <h5 class="card-title">AWS 3D Printed Belt</h5>
                <div class="card-text">
                    <div class="btn-group">
                        <button type="button" class="btn mr-1" [ngClass]="'btn-primary'">-2</button>
                        <button type="button" class="btn mr-1" [ngClass]="'btn-primary'">-1</button>
                        <button type="button" class="btn mr-1" [ngClass]="'btn-primary'">Stop</button>
                        <button type="button" class="btn mr-1" [ngClass]="'btn-primary'">+1</button>
                        <button type="button" class="btn" [ngClass]="'btn-primary'">+2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
