<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <h5 class="card-title">AWS 3D Printed Belt</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ device.name }}</h6>
                <div class="card-text">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="form-group" *ngIf="desired && reported">
                                <button type="button" class="btn ml-1 mr-1" *ngFor="let button of buttons"
                                    [class.btn-success]="desired.mode == button.mode && desired.speed == button.speed"
                                    [class.btn-light]="desired.mode != button.mode || desired.speed != button.speed"
                                    [ngStyle]="{
                                        'border': (reported.mode != desired.mode || reported.speed != desired.speed ) && reported.mode == button.mode && reported.speed == button.speed ? '5px' : '0px',
                                        'border-color': 'orange', 'border-style': 'solid'
                                    }"
                                    (click)="desiredStateChange(button)">{{button.value > 0 ? '+' : ''}}{{button.value
                                    != 0 ? button.value : 'STOP'}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <span class="badge badge-pill" [class.badge-light]="sensors.proximity.sensor1 == 0"
                                [class.badge-success]="sensors.proximity.sensor1 == 1">Sensor
                                1</span>
                        </div>
                        <div class="col-6 text-right">
                            <span class="badge badge-pill" [class.badge-light]="sensors.proximity.sensor2 == 0"
                                [class.badge-success]="sensors.proximity.sensor2 == 1">Sensor
                                2</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <app-gauge id="speed" minValue="0" maxValue="30" [value]="sensors.speed.rpm" animationSpeed="45"></app-gauge>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
