<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <div class="pull-right" role="group">
                    <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Edit"
                        data-placement="top" (click)="edit()">
                        <i class="mdi mdi-pencil"></i> Edit</button>
                    <button type="button" class="btn btn-success btn-sm m-l-10" data-toggle="tooltip" title="Deploy"
                        data-placement="top" (click)="deploy()">
                        <i class="mdi mdi-move-resize-variant"></i> Deploy</button>
                    <button type="button" class="btn btn-success btn-sm m-l-10" data-toggle="tooltip" title="Refresh"
                        (click)="refresh()">
                        <i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <form class="form-horizontal" role="form" *ngIf="solution">
                    <div class="form-body">
                        <div class="box-title row">
                            <div class="col-md-12">
                                <h3>{{solution.name}}</h3>
                            </div>
                        </div>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 control-label text-right ">Solution Blueprint:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">
                                            {{solution.solutionBlueprintId}}
                                            <!-- <a routerLink="../../solution-blueprints/{{solution.solutionBlueprintId}}">{{solution.solutionBlueprintId}}
                                                <i class="mdi mdi-link-variant"></i>
                                            </a> -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 control-label text-right">Updated:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">{{solution.updatedAt | moment:"MMM Do YYYY
                                            HH:mm"}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group" *ngFor="let device of devices; let i = index">
                            <label class="col-md-2 control-label text-right ">Device {{i}}:</label>
                            <div class="col-md-10">
                                <a (click)="gotoDevice(device)">{{device.name}}
                                    <i class="mdi mdi-link-variant"></i>
                                </a>
                            </div>
                            <!-- </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 control-label text-right">Blueprint:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">{{device.deviceBlueprintId}} </p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<template #editModalTemplate></template>

<!-- <div class="col-lg-12"> -->
<template #deviceTypeTemplate></template>
<template #solutionBlueprintTemplate></template>
<!-- </div> -->
<!-- </div> -->
<!-- Row -->
