<div class="row">
    <div class="col-12 col-md-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <div class="pull-right" role="group">
                    <button type="button" class="btn btn-success btn-sm m-l-10" data-toggle="tooltip" title="Scan"
                        (click)="scan()" [ngClass]="{'disabled': desired.mode == 'scan'}">
                        <i class="fa fa-refresh"></i> Scan</button>
                    <button type="button" class="btn btn-success btn-sm m-l-10" data-toggle="tooltip" title="Init"
                        (click)="init()" [ngClass]="{'disabled': desired.mode == 'init'}">
                        <i class="fa fa-exclamation-circle"></i>
                        Init</button>
                </div>
                <h5 class="card-title">Murata Vibration Sensor Gateway</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ device.name }}</h6>
                <div class="card-text">

                </div>
            </div>
        </div>
    </div>
</div>

