<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <h5 class="card-title">Model Trainer Tool</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ device.name }}
                    <span class="float-right" *ngIf="latestData">{{ latestData.fps }}fps</span>
                </h6>
                <div class="card-text">
                    <div class="row" *ngIf="desired">
                        <div class="col-6">
                            <div class="row p-b-5" *ngFor="let category of desired.categories">
                                <div class="col-4 text-right"><strong data-toggle="modal" data-target="#listModal"
                                        (click)="listImagesForCategory(category, 0)">{{category}}</strong></div>
                                <div class="col-8">
                                    <div>
                                        <button *ngIf="desired.capture == 'Off' || desired.capture == category" type="button"
                                            class="btn btn-success btn-sm m-r-5" (click)="modifyState('capture', category)">
                                            <i class="mdi mdi-camera"></i> {{desired.capture == category ?
                                            'stop' : 'capture'}}</button>
                                        <button *ngIf="desired.capture == 'Off'" type="button" class="btn btn-danger btn-sm"
                                            (click)="modifyState('categories.remove', category)">
                                            <i class="mdi mdi-delete"></i> remove</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-b-5 p-t-10">
                                <div class="col-4 text-right form-group">
                                    <input type="text" style="text-align: right;" [class]="(newcat.dirty || newcat.touched) ? (newcat.invalid ? 'form-control form-control-line form-control-danger' : 'form-control form-control-line form-control-success-alt') : 'form-control form-control-line'"
                                        name="newcat" id="newcat" #newcat>
                                </div>
                                <div class="col-8">
                                    <button type="button" class="btn btn-success" (click)="modifyState('categories.add', newcat.value)">
                                        <i class="mdi mdi-plus"></i> add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <input type="checkbox" id="s3Upload" style="padding-left: 18px;" [checked]="desired.s3Upload == 'On'"
                                    (click)="modifyState('s3Upload')">
                                <label class="form-check-label" for="s3Upload" style="padding-left: 25px;">Upload
                                    Images to
                                    S3 ?
                                    <small>(reported: {{ reported.s3Upload }})</small></label>
                            </div>
                            <div *ngIf="latestData">
                                <app-s3-image s3Key="latestData.s3Key"></app-s3-image>
                                <!-- <img [src]="getImageUrlForKey(latestData.s3Key)" width="100%"> -->
                                <small>{{ latestData.s3Key }}</small>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="alert alert-danger" *ngIf="appConfigError">
                        <h3 class="text-danger"><i class="fa fa-exclamation-circle"></i> Oops!</h3>
                        {{appConfigErrorMessage}}
                    </div> -->

                    <!-- {{ shadow | json}} -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let key of list; let i=index;">
                    <div class="row" [style.position]="'relative'">
                        <div class="col-12"><img [src]="getImageUrlForKey(key)" width="100%">
                            <button [style.position]="'absolute'" [style.left]="'20px'" [style.top]="'5px'" type="button"
                                class="btn btn-sm btn-danger" aria-label="Delete" (click)="deleteImage(key)">
                                <i class="mdi mdi-delete"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
