<div class="row">
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">Battery</div>
            </card-title>
            <card-text #text>
                <div class="text-center">
                    <app-gauge id="battery" [minValue]="battery.min" [maxValue]="battery.max" [value]="battery.value"
                        [opts]="battery.options" [animationSpeed]="10" class="text-overflow-center">
                    </app-gauge>
                </div>
                <div class="text-center">{{battery.value}}V</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">Temperature</div>
            </card-title>
            <card-text #text>
                <div class="text-overflow-center" style="font-size: 48px;">{{reported.surfaceTemperature | number:'.1'}}
                </div>
                <div class="text-center">°C</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-8 col-sm-6">
        <app-card>
            <card-title #title>Data<div class="pull-right text-muted" role="group">
                    {{reported.rssi}}dB</div>
            </card-title>
            <card-text #text>
                <div class="row">
                    <div class="col-7">Kurtosis</div>
                    <div class="col-5 text-right">{{reported.kurtosis | number: '.2'}}</div>
                </div>
                <div class="row">
                    <div class="col-7">RMS</div>
                    <div class="col-5 text-right">{{reported.rms | number: '.2'}}</div>
                </div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card card-outline-info">
            <div class="card-body">

                <h5 class="card-title">Murata Vibration Sensor Node</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ device.name }}<div class="pull-right" role="group">
                        {{reported.timestamp | fromNow}}</div>
                </h6>
                <div class="card-text">
                    <canvas baseChart [datasets]="freqsBarChart.data" [labels]="freqsBarChart.labels"
                        [options]="freqsBarChart.options" [legend]="freqsBarChart.legend"
                        [chartType]="freqsBarChart.type">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
