<div class="row">
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">Battery</div>
            </card-title>
            <card-text #text>
                <div class="text-center">
                    <app-gauge id="batteryGauge" [minValue]="batteryGauge.min" [maxValue]="batteryGauge.max"
                        [value]="batteryGauge.value" [opts]="batteryGauge.options" [animationSpeed]="10"
                        class="text-overflow-center">
                    </app-gauge>
                </div>
                <div class="text-center">{{batteryGauge.value | number:'.2'}}V</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">Temperature</div>
            </card-title>
            <card-text #text>
                <div class="text-overflow-center" style="font-size: 48px;">{{reported.surfaceTemperature | number:'.2'}}
                </div>
                <div class="text-center">°C</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">RSSI</div>
            </card-title>
            <card-text #text>
                <div class="text-overflow-center" style="font-size: 48px;">{{reported.rssi}}
                </div>
                <div class="text-center">dB</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">RMS</div>
            </card-title>
            <card-text #text>
                <div class="text-overflow-center" style="font-size: 48px;">{{reported.rms | number: '.2'}}
                </div>
                <div class="text-center">m/s2</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">Kurtosis</div>
            </card-title>
            <card-text #text>
                <div class="text-overflow-center" style="font-size: 40px;">{{reported.kurtosis | number: '.2'}}
                </div>
                <!-- <div class="text-center">dB</div> -->
            </card-text>
        </app-card>
    </div>

    <app-graph-line *ngIf="reported.rms != undefined" class="col-lg-6 col-md-12" title="RMS" unit="m/s2"
        [value]="reported.rms" [data]="graphs.rms"
        [labels]="graphs.labels" [high]="desired.thresholds.rmsHigh || 2"
        [low]="desired.thresholds.rmsLow || -2"
        (thresholdChanged)="onRMSUpdate($event)">
    </app-graph-line>

    <app-graph-line *ngIf="reported.kurtosis != undefined" class="col-lg-6 col-md-12" title="Kurtosis"
        [value]="reported.kurtosis" [data]="graphs.kurtosis" [labels]="graphs.labels"
        [high]="desired.thresholds.kurtosisHigh || 2" [low]="desired.thresholds.kurtosisLow || -2"
        (thresholdChanged)="onKurtosisUpdate($event)">
    </app-graph-line>

    <app-graph-line *ngIf="reported.surfaceTemperature != undefined" class="col-lg-6 col-md-12"
        title="Temperature" unit="°C" [value]="reported.surfaceTemperature" [data]="graphs.surfaceTemperature"
        [labels]="graphs.labels" [high]="desired.thresholds.surfaceTemperatureHigh || 50"
        [low]="desired.thresholds.surfaceTemperatureLow || 20" (thresholdChanged)="onTemperatureUpdate($event)">
    </app-graph-line>

    <app-graph-line *ngIf="reported.batteryVoltage != undefined" class="col-lg-6 col-md-12"
        title="Battery" unit="V" [value]="reported.batteryVoltage"
        [data]="graphs.batteryVoltage" [labels]="graphs.labels"
        [low]="desired.thresholds.batteryVoltageLow || 2.7" (thresholdChanged)="onBatteryUpdate($event)"
        yMin="{{2}}" yMax="{{BATTERY_MAX}}" [annotations]="batterySpecificAnnotations">
    </app-graph-line>

    <div class="col-lg-6 col-md-12" *ngIf="reported.frequencies != undefined">
        <div class="card card-outline-info">
            <div class="card-body">

                <h5 class="card-title">{{ device.name }} <div class="pull-right" role="group">
                        {{reported.timestamp | fromNow}}</div>
                </h5>
                <div class="card-text">
                    <canvas baseChart [datasets]="freqsBarChart.data" [labels]="freqsBarChart.labels"
                        [options]="freqsBarChart.options" [legend]="freqsBarChart.legend"
                        [chartType]="freqsBarChart.type">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

</div>
