<div class="row">
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">Battery</div>
            </card-title>
            <card-text #text>
                <div class="text-center">
                    <app-gauge id="batteryGauge" [minValue]="batteryGauge.min" [maxValue]="batteryGauge.max"
                        [value]="batteryGauge.value" [opts]="batteryGauge.options" [animationSpeed]="10"
                        class="text-overflow-center">
                    </app-gauge>
                </div>
                <div class="text-center">{{batteryGauge.value | number:'.2'}}V</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">Temperature</div>
            </card-title>
            <card-text #text>
                <div class="text-overflow-center" style="font-size: 48px;">{{reported.surfaceTemperature | number:'.2'}}
                </div>
                <div class="text-center">°C</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">RSSI</div>
            </card-title>
            <card-text #text>
                <div class="text-overflow-center" style="font-size: 48px;">{{reported.rssi}}
                </div>
                <div class="text-center">dB</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">RMS</div>
            </card-title>
            <card-text #text>
                <div class="text-overflow-center" style="font-size: 48px;">{{reported.rms | number: '.2'}}
                </div>
                <div class="text-center">m/s2</div>
            </card-text>
        </app-card>
    </div>
    <div class="col-lg-2 col-sm-3">
        <app-card>
            <card-title #title>
                <div class="text-center text-uppercase">Kurtosis</div>
            </card-title>
            <card-text #text>
                <div class="text-overflow-center" style="font-size: 40px;">{{reported.kurtosis | number: '.2'}}
                </div>
                <!-- <div class="text-center">dB</div> -->
            </card-text>
        </app-card>
    </div>
    <!-- <div class="col-lg-8 col-sm-6">
        <app-card>
            <card-title #title>Data<div class="pull-right text-muted" role="group">
                    {{reported.rssi}}dB</div>
            </card-title>
            <card-text #text>
                <div class="row">
                    <div class="col-7">Kurtosis</div>
                    <div class="col-5 text-right">{{reported.kurtosis | number: '.2'}}</div>
                </div>
                <div class="row">
                    <div class="col-7">RMS</div>
                    <div class="col-5 text-right">{{reported.rms | number: '.2'}}</div>
                </div>
            </card-text>
        </app-card>
    </div> -->
    <!-- <div class="col-lg-6 col-md-12">
        <div class="card card-outline-info">
            <div class="card-body">

                <h5 class="card-title">Murata Vibration Sensor Node</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ device.name }}<div class="pull-right" role="group">
                        {{reported.timestamp | fromNow}}</div>
                </h6>
                <div class="card-text">
                    <canvas baseChart [datasets]="freqsBarChart.data" [labels]="freqsBarChart.labels"
                        [options]="freqsBarChart.options" [legend]="freqsBarChart.legend"
                        [chartType]="freqsBarChart.type">
                    </canvas>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <app-murata-temperature-graph *ngIf="reported.surfaceTemperature != undefined" class="col-lg-6 col-md-12"
        title="Temperature"
        unit="°C" [device]="device" [value]="reported.surfaceTemperature" [data]="graphs.surfaceTemperature"
        [labels]="graphs.labels" [surfaceTemperatureHigh]="desired.thresholds.surfaceTemperatureHigh || 50"
        [surfaceTemperatureLow]="desired.thresholds.surfaceTemperatureLow || 20"
        (thresholdChanged)="onTemperatureUpdate($event)">
    </app-murata-temperature-graph> -->

    <app-murata-line-graph *ngIf="reported.rms != undefined" class="col-lg-6 col-md-12" title="RMS" unit="m/s2"
        [device]="device" [value]="reported.rms" [data]="graphs.rms"
        [labels]="graphs.labels" [high]="desired.thresholds.rmsHigh || 2"
        [low]="desired.thresholds.rmsLow || -2"
        (thresholdChanged)="onRMSUpdate($event)">
    </app-murata-line-graph>

    <app-murata-line-graph *ngIf="reported.kurtosis != undefined" class="col-lg-6 col-md-12" title="Kurtosis"
        [device]="device" [value]="reported.kurtosis" [data]="graphs.kurtosis" [labels]="graphs.labels"
        [high]="desired.thresholds.kurtosisHigh || 2" [low]="desired.thresholds.kurtosisLow || -2"
        (thresholdChanged)="onKurtosisUpdate($event)">
    </app-murata-line-graph>

    <app-murata-line-graph *ngIf="reported.surfaceTemperature != undefined" class="col-lg-6 col-md-12"
        title="Temperature" unit="°C" [device]="device" [value]="reported.surfaceTemperature" [data]="graphs.surfaceTemperature"
        [labels]="graphs.labels" [high]="desired.thresholds.surfaceTemperatureHigh || 50"
        [low]="desired.thresholds.surfaceTemperatureLow || 20" (thresholdChanged)="onTemperatureUpdate($event)">
    </app-murata-line-graph>

    <app-murata-line-graph *ngIf="reported.batteryVoltage != undefined" class="col-lg-6 col-md-12"
        title="Battery" unit="V" [device]="device" [value]="reported.batteryVoltage"
        [data]="graphs.batteryVoltage" [labels]="graphs.labels"
        [low]="desired.thresholds.batteryVoltageLow || 2.7" (thresholdChanged)="onBatteryUpdate($event)">
    </app-murata-line-graph>

    <!-- <app-murata-battery-graph *ngIf="reported.batteryVoltage != undefined" class="col-lg-6 col-md-12" title="Battery"
        unit="V"
        [device]="device" [value]="reported.batteryVoltage" [data]="graphs.batteryVoltage" [labels]="graphs.labels"
        [batteryMin]="2.2" [batteryMax]="3.6" [batteryVoltageLow]="desired.thresholds.batteryVoltageLow || 2.7"
        [batteryVoltageVeryLow]="2.5">
    </app-murata-battery-graph> -->
    <div class="col-lg-6 col-md-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <h5 class="card-title">Temperature<div class="pull-right" role="group">
                        Battery</div>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{reported.surfaceTemperature | number:'.1'}}°C<div
                        class="pull-right" role="group">
                        {{reported.batteryVoltage}}V</div>
                </h6>
                <div class="card-text">
                    <canvas baseChart
                        [datasets]="[{data: graphs.surfaceTemperature, label: 'Surface temperature', fill: false}, {data: graphs.batteryVoltage, label: 'Battery', yAxisID: 'y-axis-1', fill: false}]"
                        [labels]="graphs.labels" [options]="tempAndBattLineChart.options"
                        [colors]="tempAndBattLineChart.colors" [legend]="true" [chartType]="'line'"
                        [plugins]="lineChartPlugins"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <h5 class="card-title">Frequencies</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-2 text-center">{{reported.frequencies[0]}}Hz</div>
                        <div class="col-2 text-center">{{reported.frequencies[1]}}Hz</div>
                        <div class="col-2 text-center">{{reported.frequencies[2]}}Hz</div>
                        <div class="col-2 text-center">{{reported.frequencies[3]}}Hz</div>
                        <div class="col-2 text-center">{{reported.frequencies[4]}}Hz</div>
                        <div class="col-1"></div>
                    </div>
                </h6>
                <div class="card-text">
                    <canvas baseChart
                        [datasets]="[{data: graphs.frequencies[0], label: 'F1', fill: false}, {data: graphs.frequencies[1], label: 'F2', fill: false}, {data: graphs.frequencies[2], label: 'F3', fill: false}, {data: graphs.frequencies[3], label: 'F4', fill: false}, {data: graphs.frequencies[4], label: 'F5', fill: false}]"
                        [labels]="graphs.labels" [options]="frequenciesLineChart.options"
                        [colors]="frequenciesLineChart.colors" [legend]="true" [chartType]="'line'"
                        [plugins]="lineChartPlugins"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <h5 class="card-title">Accelerations</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-2 text-center">{{reported.accels[0]}}</div>
                        <div class="col-2 text-center">{{reported.accels[1]}}</div>
                        <div class="col-2 text-center">{{reported.accels[2]}}</div>
                        <div class="col-2 text-center">{{reported.accels[3]}}</div>
                        <div class="col-2 text-center">{{reported.accels[4]}}</div>
                        <div class="col-1"></div>
                    </div>
                </h6>
                <div class="card-text">
                    <canvas baseChart
                        [datasets]="[{data: graphs.accels[0], label: 'F1', fill: false}, {data: graphs.accels[1], label: 'F2', fill: false}, {data: graphs.accels[2], label: 'F3', fill: false}, {data: graphs.accels[3], label: 'F4', fill: false}, {data: graphs.accels[4], label: 'F5', fill: false}]"
                        [labels]="graphs.labels" [options]="frequenciesLineChart.options"
                        [colors]="frequenciesLineChart.colors" [legend]="true" [chartType]="'line'"
                        [plugins]="lineChartPlugins"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <h5 class="card-title">RMS<div class="pull-right" role="group">
                        Kurtosis</div>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{reported.rms | number:'.2'}}m/s2<div class="pull-right"
                        role="group">
                        {{reported.kurtosis | number:'.2'}}</div>
                </h6>
                <div class="card-text">
                    <canvas baseChart
                        [datasets]="[{data: graphs.rms, label: 'RMS', fill: false}, {data: graphs.kurtosis, label: 'Kurtosis', yAxisID: 'y-axis-1', fill: false}]"
                        [labels]="graphs.labels" [options]="rmsAndKurtosisLineChart.options"
                        [colors]="rmsAndKurtosisLineChart.colors" [legend]="true" [chartType]="'line'"
                        [plugins]="lineChartPlugins"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
