<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-md-8 col-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title m-b-20">Benefits and Features</h2>
                <div class="row">
                    <div class="col-md-6 col-6 b-r">
                        <h5>Get started with a few clicks</h5>
                        <p>
                            Experiment iteratively and quickly to build intelligent, powerful IoT applications without
                            the initial overhead of device integration or maintaining a large pool of devices.
                        </p>
                    </div>
                    <div class="col-md-6 col-6">
                        <h5>Easy to use interface</h5>
                        <p>
                            Provides the ability to easily launch hundreds of IoT widgets created from a variety of
                            device templates you define all within the comforts of a web-based GUI.
                        </p>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-6 col-6 b-r">
                        <h5>Monitor and observe</h5>
                        <p>
                            Once your devices have started simulating data, you can monitor individual devices from the
                            console or observe how your backend services are processing the data being published by the
                            simulator.
                        </p>
                    </div>
                    <div class="col-md-6 col-6">
                        <h5>Use it out-of-the-box or customize it</h5>
                        <p>
                            Open-Source, you can use out of the box. Deploy a new stack and customize the code to meet
                            your specific business requirements.
                            Even better, contribute to the community by adding templates to the git repository.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title m-b-20">Documentation</h2>
                <p><a href="https://github.com/teuteuguy/mythings-mgmt">GitHub Repository</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-md-8 col-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title m-b-20">Getting Started</h2>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <img src="assets/img/iot-ds.png" width="100%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
